/* Callout */
.callout {
    padding: 4rem;
    border-radius: 5px;
    margin-bottom: 5rem;
}
.callout--primary {
    background: var(--background-footer);
    color: var(--color-white)
}
.callout__heading {
    color: var(--color-white);
    margin-top: 0;
    font-size: 3rem;
}

.callout__content {
    text-align: center;
}

.callout__action {
    justify-self: center;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }
    .callout__action {
        justify-self: start;
        margin: 2rem;
    }
}