/* Footer */

.footer {
    background: var(--background-footer);
    padding: 1rem;
}
.footer a {
    color: #777;
    transition: color 0.3s;
}
.footer a:hover {
    color: var(--color-white)

}
.footer__section {
    padding: 1rem;
    border-bottom: 1px solid #393939;
    width: 100%;
}

.footer__section .list {
    margin: 1rem;
}
.footer__heading {
    color: var(--color-footer-heading);
    text-transform: uppercase;
    font-weight: 600;
}

.footer__brand {
    margin-top: 5rem;
    text-align: center;
}

.footer__copyright {
    font-size: 2.1rem;
    color: var(--color-white);
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .footer__sections {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__chevron {
        display: none;
    }

    .footer .collapsible__content {
       opacity: 1;
       max-height: 100%;
    }
    .footer__brand {
        order: -1;
        margin-top: 2.5rem;
    }

    .footer__band img {
        width: 100%;
    }
    
    .footer__copyright {
        font-size: 1.5rem;
    }

    .footer__section {
        border: 0;
    }
    .footer__heading {
        font-size: 1.6rem;
    }
}