/* Inputs */
.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--color-heading);
    font-size: 2rem;
}
::placeholder {
    color: #cdcbd7;
}
.input-group {
    display: flex;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}
.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}
.input-group .btn {
    margin: 4px;
}
@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}